.user-form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.shopping-cart-form {
  padding: 2px;
  margin: 2px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
}